<% provide(:title, @user.name) %>

<div class="profile_container clearfix">
  <div class="greeting">
    <!-- <%= gravatar_for @user %> -->
    <div class="title">
      <h1>Welcome, <%= @first_name %></h1>
    </div>

    <div class="text">
      <p> We are happy to see that atheists in <strong> <%= @user.country %> </strong> are speaking up their mind.  <!--  <%= @peers %> -->
       We are a comunity of <strong> <%= @number_of_users %> atheists </strong>(and counting!) that strongly believe that the world needs more common sense and less superstition. </p>
       <p> Now is time to make your status official. Tell the world you are proud!</p>
     </div>
     <div class="next">
       <h3>Wondering what to do next?</h3>
       <ul>
        <li>See useful <a href="/resources">resources</a></li>
<!--         <li><a href="/articles/new">Write an article </a>and share your views</li>
        <li>Read all the articles<li> -->
        <li>Make your status official!</li>
      </ul>
    </div>
  </div>

  <div class="proud">
    <h1>Make it official!</h1>
    <div class="proud_links">
     <%=link_to image_tag("facebook.png", :size => "72x72"), "http://j.mp/1a7J2XG"%>
     <%=link_to image_tag("twitter.png", :size => "72x72"), "http://j.mp/1dnnUhu"%>
     <%=link_to image_tag("google-plus.png", :size => "72x72"), "http://j.mp/1eNh56R"%>
   </div>

 </div>
</div>
